{% include 'header.html' %}
<div class="container">
<div class="row">
    <div class="col-md-12 mt-5">
        <h2>About Us</h2>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, dolore ex. Tempore non fuga at? Dolorum hic unde, illum harum similique in numquam delectus iste enim dolores asperiores necessitatibus animi.
        </p>
    </div>


<div class="col-md-6 mt-5">
    <h2>Vision</h2>
    <hr>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, qui cum. Itaque officia explicabo mollitia eveniet incidunt. Numquam delectus hic quae et accusantium aperiam totam at ut eius, impedit ipsa!
    </p>
</div>

<div class="col-md-6 mt-5">
    <h2>Mision</h2>
    <hr>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, qui cum. Itaque officia explicabo mollitia eveniet incidunt. Numquam delectus hic quae et accusantium aperiam totam at ut eius, impedit ipsa!
    </p>
</div>


<div class="col-md-4 mt-5 shadow pt-5">
<h3 class="text-danger text-center">10000+</h3>
<h6 class="text-center">Happy Customers....</h6>
</div>

<div class="col-md-4 mt-5 shadow pt-5">
<h3 class="text-danger text-center">20000+</h3>
<h6 class="text-center">Ordered Delivered....</h6>
</div>

<div class="col-md-4 mt-5 shadow pt-5">
<h3 class="text-danger text-center">600+</h3>
<h6 class="text-center">Products....</h6>
</div>
</div>
</div>
{% include 'footer.html' %}