<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container fixed-bottom">
    <div class="row p-3 ">
      <div class="col-md-4 bg-secondary-subtle p-3">
          <h5> Address</h5>
          <hr>
              1st Floor, Bhandarkar Bhavan, <br>
              Swami Vivekananda Rd, <br>
              near Police Station,
              <br> opposite BORIVALI RAILWAY STATION,
              <br> Sundar Nagar, W, Mumbai, 
              <br>Maharashtra 400092
      </div>
      <div class="col-md-4 bg-secondary-subtle p-3">
           <h5> Quick Links</h5>
           <hr>
            <a class="anchor" href="index.html"><b>Home</b></a><br><br>
            <a  class="anchor" href="about.html"><b>About</b></a><br><br>
            <a  class="anchor" href="contact.html"><b>Contact</b></a>
      </div>
      <div class="col-md-4 bg-secondary-subtle p-3">
             <h5>Connect Us</h5>
             <hr>
             <h3 class="social"><a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a></h3>
             <h3 class="social"><a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a></h3>
             <h3 class="social"><a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i></a></h3>
             <h3 class="social"><a href="mailto:someone@example.com" target="_blank"><i class="bi bi-envelope-at"></i></a></h3>
      </div>
  </div>

  <!-- <h1>Linked Bootstrap Successfully!!!</h1> -->
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>